CompileFlags:
  Add: 
    - -std=c++17
    - -Wall
    - -Wextra
    - -Wpedantic
    - -I${workspaceFolder}
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Checks:
      - clang-analyzer-*
      - performance-*
      - readability-*
      - modernize-*
    CheckOptions:
      modernize-use-trailing-return-type: 0
      readability-identifier-length: 0

Index:
  Background: Build

Hover:
  ShowAKA: Yes

Completion:
  InsertInclude: true

InlayHints:
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Enabled: Yes